#home{
    background-image: url("../assets/background1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#home h1{
    font-family: 'Berkshire Swash', cursive;
    color: white;
    font-size: 8em;
  text-align: center;
  padding-top: 250px;
  padding-left: 350px;
}
#home h2{
    color: maroon;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size:64px;
    padding-left: 350px;
}